body { font-family:Arial, Helvetica, sans-serif; font-size:16px; background-color:#B5FFB3 }
.dist { height:15px; background-color:#B5FFB3 }
.text { max-width:800px; background-color:#FFFFFF; margin:auto; padding:8px; border:2px solid #98FB98 }
.text1 { max-width:700px; background-color:#FFFFFF; margin:auto; padding:8px; border:2px solid #98FB98; border-radius:10px }
.tt { position:relative; display:inline-block }
.tt .ttex { visibility:hidden; width:90px; background-color:black; color:#fff; text-align:center; font-size:14px; border-radius:6px; padding:2px 0; position:absolute; 
z-index:1; bottom:100%; left:50%; margin-left:-22px }
.tt:hover .ttex { visibility:visible }
.ce { text-align:center; font-weight:bold }
.p1 { width:98%; margin:auto; text-align:center; font-weight:bold }
.p1:hover { background-color:#90EE90 }
.p2 { width:96%; margin:auto; text-align:center; font-weight:bold; background-color:#00008B; color:white; padding-top:2px }
.p3 { text-align:left }
.s1 { background-color:#00008B; color:white; padding: 2px 22px }
.sm { font-size:14px }
.sm1 { font-size:17px }
.bg { font-size:25px; }
.tab1 { table-layout:fixed; width:98%; max-width:310px; margin-left:auto; margin-right:auto; text-align:center }
.tab1 td { width:10%; line-height:100%; padding:4px 0 2px 0; vertical-align:middle; }
.tr1 { font-weight:bold; background-color:green; color:white; border: 1px solid white }
.td1 { background-color:#90EE90; border:1px solid white }
.td2 { background-color:green; color:white; border: 1px solid white }
.tab2 { width:200px; margin-left:auto; margin-right:auto; text-align:center }
.tab3 { width:98%; max-width:310px; margin-left:auto; margin-right:auto; text-align:center }
.tab3 td { line-height:100%; padding:4px 0 2px 0; vertical-align:middle; }
.td3 { background-color:#98FB98; width:28%; border: 1px solid white }
.td4 { background-color:#98FB98; width:9%; border: 1px solid white }
.tab4 { width:98%; max-width:700px; margin-top:-22px; margin-left:auto; margin-right:auto; margin-bottom:-12px; text-align:center }
.tab4 td { line-height:100%; padding:4px 0 2px 0; vertical-align:middle; border:1px solid #FAA0A0 }
.td5 { background-color:green; color:white; border:1px solid white; width:38px }
.td6 { background-color:green; color:white; border:1px solid white; width:88px }
.td7 { background-color:#90EE90; border:1px solid white; width:22px }
.td8 { border: 1px solid red }
.td9 { background-color:#36454F; color:white; font-weight:bold }
.td10 { background-color:black; color:white; font-weight:bold }
.td11 { background-color:green; color:white; border:1px solid white; width:28px }
.td12 { background-color:#36454F; color:white }
.td13 { background-color:black; color:white }
.td14 { background-color:#AFEEEE }
.tr2 { background-color:#AFEEEE }
.btn btn-info { background-color:#ffffff; padding:0 4px -3px 4px; margin:0px; color:#000000; border:none; font-weight:bold }
.left { float:left; width:49%; max-width:395px; border:1px solid #98FB98; text-align:center }
.right { float:right; width:49%; max-width:395px; border:1px solid #98FB98; text-align:center }
.top { width:100%; padding:10px 0; margin-bottom:15px; background-color:#00008B; color:white; text-align:center }
.top1 { width:100%; padding:7px 0; margin-bottom:4px; background-color:#00008B; color:white; font-weight:bold; font-size:22px; text-align:center; line-height:110%;
        border-bottom:2px solid red }
.bot { width:100%; padding:10px 0 5px 10px; margin-top:18px; background-color:#00008B; color:white }
.tabtop { width:98%; max-width:600px; margin-left:auto; margin-right:auto; text-align:center }
.d1 { height:10px }
.d2 { height:4px }
.d3 { height:25px }
.d4 { height:15px }
.p4 { width:200px; margin:auto; text-align:center; font-weight:bold; background-color:#00008B; color:white; padding-top:2px }
.site { max-width:490px; text-align:center; margin:auto }
.site1 { max-width:640px; text-align:center; margin:auto }
.site2 { max-width:374px; text-align:center; margin:auto }
.site3 { max-width:234px; text-align:center; margin:auto }
.site4 { max-width:638px; text-align:center; margin:auto }
.site5 { max-width:630px; text-align:center; margin:auto }
.site6 { max-width:600px; text-align:center; margin:auto }
.site7 { max-width:334px; text-align:center; margin:-15px auto 6px auto }
.site8 { max-width:272px; text-align:center; margin:auto }
.site9 { max-width:336px; text-align:center; margin:auto }
.data { float:left; width:180px; margin:15px 0 0 12px; background-color:green; color:white; font-weight:bold; text-align:center; border:1px solid blue; 
padding:2px 0 0 0 }
.data1 { float:left; width:160px; margin:15px 0 0 12px; background-color:green; color:white; font-weight:bold; text-align:center; border:1px solid blue; 
padding:2px 0 0 0 }
.data2 { float:left; width:70px; margin:15px 0 0 12px; background-color:green; color:white; font-weight:bold; text-align:center; border:1px solid blue; 
padding:2px 0 0 0 }
.data3 { float:left; width:120px; margin:15px 0 0 12px; background-color:green; color:white; font-weight:bold; text-align:center; border:1px solid blue; 
padding:2px 0 0 0 }
.data4 { float:left; width:96px; margin:15px 0 0 12px; background-color:green; color:white; font-weight:bold; text-align:center; border:1px solid blue; 
padding:2px 0 0 0 }
.data5 { float:left; width:214px; margin:15px 0 0 12px; background-color:green; color:white; font-weight:bold; text-align:center; border:1px solid blue; 
padding:2px 0 0 0 }
.data6 { float:left; width:140px; margin:15px 0 0 12px; background-color:green; color:white; font-weight:bold; text-align:center; border:1px solid blue; 
padding:2px 0 0 0 }
.tab5 { width:100%; color:black }
.tab5 td { line-height:100%; padding:4px 0 2px 0; vertical-align:middle }
.td14 { width:62px; background-color:#AFEEEE }
.td15 { width:62px; background-color:white }
.td16 { width:130px; background-color:#AFEEEE }
.td17 { width:50px; background-color:white }
.links { float:left; width:100px; margin-top:15px; background-color:white; color:#00008B; font-weight:bold; text-align:center }
.links1 { float:left; width:166px; margin-top:15px; background-color:white; color:#00008B; font-weight:bold; text-align:center }
.p5 { width:45px; text-align:center; margin-top:-3px; padding:2px 0 0 0; border-radius:8px }
a.p5:link, a.p5:visited { background-color:green; color:white; text-decoration:none; display:inline-block }
a.p5:hover, a.p5:active { background-color:black }
.clearfix::after { content:""; clear:both; display:table }
.if { height:560px; max-width:880px; width:100%; margin-left:auto; margin-right:auto; border-radius:4px }
.center { max-width:395px; margin-left: auto; margin-right:auto; border:1px solid #98FB98; text-align:center }
.match { width:98%; max-width:360px; padding:0; margin:10px auto; background-color:green; color:white; font-weight:bold; font-size:18px; text-align:center; 
         line-height:100%; border-radius:10px }
a.match:link, a.match:visited { width:100%; padding:6px 0; margin:0px; background-color:green; color:white; text-decoration:none; display:inline-block }
a.match:hover, a.p5:active { background-color:black }
.days { float:left; width:160px; padding:0; margin:10px 4px; background-color:#00008B; color:white; font-weight:bold; font-size:18px; text-align:center; 
         line-height:100%; border-radius:10px }
a.days:link, a.days:visited { width:160px; padding:6px 0; margin:0px; background-color:#00008B; color:white; text-decoration:none; display:inline-block }
a.days:hover, a.days:active { background-color:black }
.footer { width:100%; padding:10px 0; margin-top:4px; margin-bottom:0px; background-color:#00008B; color:white; font-size:15px; text-align:center; 
        border-top:2px solid red }
.footer a { color:#ffffff; text-align:center; padding:2px 6px; text-decoration: none; line-height:100%; border-radius:8px }
.footer a:visited { text-decoration:none; color:#ffffff }
.footer a:hover { color: #000000; text-decoration:none; background-color:#ECECFF }
.copy { position:relative; margin:0 auto; width:190px; padding:0 4px; text-align:center; color:white; background-color:black; border-radius:8px }
.img { height:80px }
@media screen and (max-width: 686px) {
.if { height:568px; } }
@media screen and (max-width: 400px) {
.img { height:60px } }
@media screen and (max-width: 338px) {
.days { float:none } 
